@model Danzor.DanzorPage

<section class="bloco">
   <div class="conteudo negrito fonte-7-pontos">DESTINATÁRIO/REMETENTE</div>
   <table>
      <tr>
         <td colspan="3" class="campo razao-social">
            <div class="conteudo fonte-5-pontos">NOME / RAZÃO SOCIAL</div>
            <div class="conteudo">
               @Model.dest.xNome.Value
            </div>
         </td>
         <td class="campo cnpj-destinatario">
            <div class="conteudo fonte-5-pontos">CNPJ / CPF</div>
            <div class="conteudo">
               @Model.dest.CNPJ.Value
            </div>
         </td>
         <td class="campo data-emissao">
            <div class="conteudo fonte-5-pontos">DATA DE EMISSÃO</div>
            <div class="conteudo">
               @Model.ide.dEmi.ToDateTime().ToString("dd/MM/yyyy")
            </div>
         </td>
      </tr>
      <tr>
         <td colspan="2" class="campo endereco-destinatario">
            <div class="conteudo fonte-5-pontos">ENDEREÇO</div>
            <div class="conteudo">
               @Model.dest.enderDest.xLgr.Value &nbsp;
               @Model.dest.enderDest.nro.Value
            </div>
         </td>
         <td class="campo bairro-destinatario">
            <div class="conteudo fonte-5-pontos">BAIRRO / DISTRITO</div>
            <div class="conteudo">
               @Model.dest.enderDest.xBairro.Value
            </div>
         </td>
         <td class="campo cep-destinatario">
            <div class="conteudo fonte-5-pontos">CEP</div>
            <div class="conteudo">
               @Model.dest.enderDest.CEP.Value
            </div>
         </td>
         <td class="campo data-entrada-destinatario">
            <div class="conteudo fonte-5-pontos">DATA ENTRADA / SAÍDA</div>
            <div class="conteudo">
               @Model.ide.dEmi.ToDateTime().ToString("dd/MM/yyyy")
            </div>
         </td>
      </tr>
      <tr>
         <td class="campo municipio-destinatario">
            <div class="conteudo fonte-5-pontos">MUNICÍPIO</div>
            <div class="conteudo">
               @Model.dest.enderDest.xMun.Value
            </div>
         </td>
         <td class="campo fone-fax-destinatario">
            <div class="conteudo fonte-5-pontos">TELEFONE</div>
            <div class="conteudo">
               @Model.dest.enderDest.fone.Value
            </div>
         </td>
         <td class="campo uf-destinatario">
            <div class="conteudo fonte-5-pontos">UF</div>
            <div class="conteudo">
               @Model.dest.enderDest.UF.Value
            </div>
         </td>
         <td class="campo inscricao-destinatario">
            <div class="conteudo fonte-5-pontos">INSCRIÇÃO ESTADUAL</div>
            <div class="conteudo">
               @Model.dest.IE.Value
            </div>
         </td>
         <td class="campo hora-entrada-saida">
            <div class="conteudo fonte-5-pontos">HORA ENTRADA / SAÍDA</div>
            <div class="conteudo">
               @Model.ide.dEmi.ToDateTime().ToString("hh:mm")
            </div>
         </td>
      </tr>
   </table>
</section>