@model Danzor.Print.DanzorPrintViewer

<!DOCTYPE html>

<html>
<head>
   <meta name="viewport" content="width=device-width" />
   <title>DANFe</title>
   <link href="~/Content/css/danfe/danfe.min.css" rel="stylesheet" />
</head>
<body>
   <div class="danfe">
      @foreach (var page in Model.Pages)
      {
         <div class="page">
            @if (@page.IsFirstPage())
            {
               @Html.Partial("~/Views/Danfe/_canhoto.cshtml", @page.Header)
            }

            @Html.Partial("~/Views/Danfe/_dados_nfe.cshtml", @page.Body)
            @Html.Partial("~/Views/Danfe/_destinatario.cshtml", @page.Body)

            @if (@page.IsFirstPage())
            {
               @Html.Partial("~/Views/Danfe/_transportador.cshtml", @page.Body)
               @Html.Partial("~/Views/Danfe/_imposto.cshtml", @page.Body)
               @Html.Partial("~/Views/Danfe/_faturas.cshtml", @page.Body)
            }

            @Html.Partial("~/Views/Danfe/_dados_produtos.cshtml", @page.Body)

            @if (@page.IsLastPage())
            {
               @Html.Partial("~/Views/Danfe/_dados_adicionais.cshtml", @page.Footer)
            }
         </div>
         @*<div class="page-break"></div>*@
      }
   </div>
</body>

</html>
